#gameBoard {
    width: 72rem;
    height: 42rem;
    border: 1rem solid black;
    background-image: var(--img);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#gameBoard > .textBox {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.611);
    line-height: normal;
    
}

.textBox > p {
    margin: 0;
    font-size: 1.5rem;
    flex-grow: 1;
}

.modal {
    width: 90%;
    height: 30%;
    justify-content: flex-end;
    flex-grow: 2;
    background-color: rgba(0, 0, 0, 0.611);
    text-align: center;
}

.modal > h1 > span {
    font-style: italic;
}

.modal > img {
    width: 15rem;
    height: 15rem;
}