#gameBoard {
    width: 42rem;
    height: 42rem;
    border: 1rem solid black;
    background-image: var(--img);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}